mum-commons:
  coreutils:
    exception-handling:
      enabled: true
  email-integration:
    enabled: true
    email-service-url: http://email-service:8084
  keycloak:
    enabled: true
    server-url: http://keycloak.pl:8080
    realm-name: marine-unit-monitoring-master
    client-id: protection-service-client
    client-secret: ${keycloak.client-secret}
    auth-conversion:
      enabled: true
      keycloak-client-id: protection-service-client

# TODO: set pattern to make mum-commons MDC works and test if it works.
logging:
  level:
    root: debug
spring:
  config:
    import:
      - classpath:secrets.yaml
      - classpath:idm-services-reps-config.yaml
  data:
    mongodb:
      database: protectionServiceDB
      uri: mongodb://protection-service-mongodb-primary/${spring.data.mongodb.database}?replicaSet=protectionServiceDBRS
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak.pl:8080/realms/marine-unit-monitoring-master
          jwk-set-uri: http://keycloak.pl:8080/realms/marine-unit-monitoring-master/protocol/openid-connect/certs
project-properties:
  times:
    in-ms:
      suspect-logins:
        cleaning-time-count-before-actual: 259200000 # 72h
  scheduling-delays:
    in-ms:
      default-suspect-logins:
        cleaning: 259200000 # 72h