mum-commons:
  coreutils:
    exception-handling:
      enabled: true
  keycloak:
    auth-conversion:
      enabled: true

# TODO: set pattern to make mum-commons MDC works and test if it works.
logging:
  level:
    root: debug
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak.pl:8080/realms/marine-unit-monitoring-master
          jwk-set-uri: http://keycloak.pl:8080/realms/marine-unit-monitoring-master/protocol/openid-connect/certs